:root {
    --tan-100: 34, 44%, 20%;
    --tan-200: 34, 44%, 30%;
    --tan-300: 34, 44%, 45%;
    --tan-400: 34, 44%, 60%;
    --tan-500: 34, 44%, 80%;
    --tan-600: 34, 44%, 90%;

    --background-100: 195 75% 86%;
}

main {
    background-color: hsl(var(--tan-500));
    width: 100%;

}

#story-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.storyBlock {
    height: 100px;
    font-size: 16pt;
    text-align: center;

    border: 1px solid black;
    border-radius: 5px;
    background-color: hsl(var(--tan-600));
    margin: 1rem;
}

.storyBlock:hover {
    cursor: pointer;
    background-color: hsl(var(--tan-400));
}

.newStory {
    width: 150px;
}

.save-name-modal {
    display: grid;
    width: 70%;
    margin: 1rem auto;

    border: 1px solid black;
    box-shadow: 2px 2px 2px grey;
}

.save-name-modal input {
    font-size: 16pt;
    text-align: center;
    width: 250;
    height: 75px;
}

.save-name-modal-hidden {
    display: none;
}

/* default */
canvas {
    display: none;
}

footer {
    text-align: center;
    font-size: 10pt;
}