header {
    text-align: center;
}

body {
    font-size: 14pt;
    padding: 1rem;
}

footer {
    text-align: center;
    font-size: 10pt;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

/*PIXI stage*/
#stage {
    grid-column: 2/3;
}