header {
    text-align: center;
}

body {
    font-size: 14pt;
    padding: 1rem;
}

footer {
    text-align: center;
    font-size: 10pt;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.modalDialog {
    position: absolute;
    transform: translateY(250px);

    text-align: center;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    width: 100%;
}

.modalDialog textarea {
    width: 100%;
    resize: none;

    grid-column: 2/4;
}

#modalText {
    width: 100%;
}

#modalTitle {
    grid-column: 2/4;
}

#modalButton-save {
    grid-column: 2/3;
    justify-self: right;
}

#modalButton-cancel {
    grid-column: 3/4;
    justify-self: left;
}

.modalDialog-hidden {
    display: none;
}

/*PIXI stage*/
#stage {
    margin: auto;
    width: 100%;
}