header {
    text-align: center;
}

body {
    font-size: 14pt;
    padding: 1rem;
}

footer {
    text-align: center;
    font-size: 10pt;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.modalDialog{
    position: absolute;
    transform: translateY(250px);

    text-align: center;

    width: 100%;
}

.modalDialog textarea
{
    width: 100%;
    resize: none;
}

#modalText
{
    width: 75%;
}

.modalDialog-hidden
{
    display: none;
}

/*PIXI stage*/
#stage {
    margin: auto;
    width: 100%;
}